@media print {
    .hide-on-print {
        display: none;
    }

    body {
        background-color: #fff;
        padding: 0;
    }

    .personal-info p {
        font-size: 0.8em;
    }

    .wrapper {
        width: 100%;
        box-shadow: none;
        padding: 0;
    }

    ul.skills li .dots .dot {
        width: 8px;
        height: 8px;
    }

}